.create-post-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 100px;
  flex-wrap: wrap;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  border-right: 1px dashed #814dde;
  padding-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.form-container form h1,
.preview-container h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #814dde;
  font-size: 40px;
  text-align: center;
}

.preview-container {
  display: flex;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px dashed #814dde;
  padding-bottom: 20px;
}

.create-post-form h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #814dde;
  font-size: 40px;
  text-align: center;
}

.create-post-form p#message {
  display: none;
  background-color: #4dde82;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}