.listing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 20px;
}

.listing-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 20px;
}

.filter-container h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #814DDE;
    font-size: 20px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-container form {
    width: 50%;
}

.card-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px;
    border-radius: 16px;
    border: 1px solid #e0e0e0;
    font-family: 'Raleway', sans-serif;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px 16px;
}

.card .card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: stretch;
}

.card-body .card-service-description {
    flex-grow: 1;
}

.card .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card .card-service-type,
.card div.tag,
.card div.card-datetime {
    width: fit-content;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 10px;
    font-weight: 600;
    color: #fff;
    background-color: #814DDE;
    border-radius: 16px;
}

.card .card-service-price {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #814dde;
    font-size: 40px;
}

.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.booking-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.booking-form .datetime-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    row-gap: 20px;
}

.booking-form h1 {
    /*font-family: 'Big Shoulders Inline Text', cursive;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #814DDE;
    font-size: 40px;
    text-align: center;
}